<div class="row">
    <div class="col-xs-1">
        <div class="strategy-state viewed <% if (viewed) { %>viewed<% } %> <% if (selected) { %>selected<% } %>">
            <%= ordinal %>
        </div>
    </div>
    <div class="col-xs-11">
        <div class="strategy-title"><%= title %></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
<div class="strategy-download pull-right">
    <a href="./<%=pdf%>" target="_blank" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt"></span> Download full proposal</a>
</div>
        <% if (showProsAndCons) { %>
            <div>
                <div>
                    <h5>PROS</h5>
                    <%= pros %>
                </div>
                <div>
                    <h5>CONS</h5>
                    <%= cons %>
                </div>
            </div>
        <% } %> 
        <div class="strategy-container">
            <h5>SUMMARY</h5>
            <%= summary %>
        </div>
    </div>
</div>
